body {
  background-color: #2081C3;
}

.header {
  font-family: 'Catamaran', sans-serif;
  margin: auto;
  text-align: center;
  color: #F7F9F9;
  font-size: 2em;
  line-height: 100%;
}

.header h1 {
  font-family: 'Lobster', cursive;
  color: #78D5D7;
}

.window {
  height: 300px;
  width: 600px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  padding: 1px 10px;
  background-color: #F7F9F9;
  color: #799B96;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2em;
  overflow: auto;
}

.button-row {
  height: 100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #63D2FF;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 25px;
  margin-top: 10px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: #F7F9F9;
    text-decoration: none !important;
}

button a {
    text-decoration: none;
    color: #F7F9F9;
}

#twitter {
  margin-left: 66%;
}